@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --max-width: 1440px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
