<mat-toolbar color="primary" class="header mat-elevation-z6">
  <mat-toolbar-row class="header-row">
    <a mat-button routerLink="">
      {{ title }}
    </a>
    <span style="flex: 1"></span>
    <ng-container *ngIf="authenticated | async as auth; else loginView">
      <span *ngIf="auth" class="username">Hello, {{ userName | async }}</span>
      <a mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </a>
    </ng-container>
    <ng-template #loginView>
      <a mat-icon-button (click)="login()">
        <mat-icon>login</mat-icon>
      </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main">
  <router-outlet></router-outlet>
</div>
