<ng-container *ngIf="event$ | async as event">
  <div class="show-info">
    <div class="show-info--image">
      <img [src]="event.image" alt="" draggable="false" />
    </div>
    <div class="show-info--details">
      <h1>{{ event.name }}</h1>
      <p>
        {{ event.description }}
      </p>
    </div>
  </div>
  <h2 class="header">
    <mat-icon class="material-icons-outlined">confirmation_number</mat-icon>
    Tickets
  </h2>
  <div class="ticket-list">
    <ng-container *ngIf="event.ticketOptions.length > 0; else noTicketOptions">
      <div
        class="ticket-element"
        *ngFor="
          let ticketOption of event.ticketOptions;
          trackBy: trackTicketOptionById
        "
      >
        <span class="show-name">
          {{ event.name }}
        </span>
        <div class="ticket-place">
          <span class="ticket-place--city">
            {{ ticketOption.city }}
          </span>
          <span class="ticket-place--name">
            {{ ticketOption.place }}
          </span>
        </div>
        <span class="ticket-date">
          <span class="ticket-date--date">
            {{ ticketOption.takePlace | date: "dd MMMM yyyy" }}
          </span>
          <mat-divider vertical></mat-divider>
          <span class="ticket-date--time">{{
            ticketOption.takePlace | date: "HH:mm"
          }}</span>
        </span>
        <span class="ticket-price">
          {{ ticketOption.price }}
        </span>
        <ng-container *ngIf="authenticated | async; else pleaseLogIn">
          <button
            class="button-buy"
            mat-flat-button
            color="accent"
            (click)="placeOrder(ticketOption.id)"
          >
            <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
            Buy ticket
          </button>
        </ng-container>
        <ng-template #pleaseLogIn>
          <button
            class="button-buy"
            mat-flat-button
            color="accent"
            (click)="login()"
          >
            <!-- <mat-icon class="material-icons-outlined">shopping_cart</mat-icon> -->
            Login
          </button>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #noTicketOptions> Tickets are unavailabe.. </ng-template>
  </div>
</ng-container>
